*
{
    margin:0;
    padding:0;
    scrollbar-width: none;
    overflow: -moz-scrollbars-none;
}
::-webkit-scrollbar {
  display: none;
}
/* validation starts */
.modal .form-group input:invalid:required
{
	outline: 0 !important;
    border:1px solid  gainsboro;
    box-shadow: none;
}
.modal .form-group input:invalid:focus 
{
	outline: 0 !important;
    border:1px solid red;
    box-shadow: 1px 1px 3px red;
}
.modal .form-group input:valid 
{
	outline: 0 !important;
    border:1px solid green;
    box-shadow: 1px 1px 3px green;
}
/* validation ends */
/* header & footer starts */
@media screen and (min-height: 480px) {
    header{
      position:sticky;
      z-index: 999 !important;
      top: 0;
    }
    footer {
      position: -webkit-sticky;
      bottom: 0;
      left: 0;
    }
  }

.navbar-light #brand-logo
{
    margin-top:-5px;
}
header {
    position: -webkit-sticky;
    position: sticky;
    left:0;
    right:0;
    z-index: 999 !important;
    border-bottom:0.5px solid lightgray;
}

header .navbar-light .navbar-toggler
{
  border-radius:0px;
}
header .navbar-light .navbar-nav .nav-item{
  padding:5px;
}
header .navbar-light .navbar-nav .active{
    background:white;
    box-shadow: inset 0px -6px 0px #054785;
}
header .navbar-light .navbar-nav .active .nav-link{
  color:#054785;
}
.footer
{
  background:rgb(0, 0, 0);
}
.footer-strip
{
  background:#054785;
  color:white;
}
/* header & footer ends */
#blue
{
  color: #054785;
}
#bluebtn
{
  background:#054785;
  color:white;
  border-radius:0px;
}
.sqrinput
{
  border-radius:0px;
  padding:7px 7px;
}